NOTION_TOKEN=
NOTION_DATABASE_AGENDAMENTOS=
NOTION_DATABASE_CAMPANHAS=
SENDFLOW_API_TOKEN=
SENDFLOW_API_URL=https://southamerica-east1-whatsapp-ultimate.cloudfunctions.net
SENDFLOW_ACCOUNT_ID=
SENDFLOW_NUMBER=
WEBHOOK_PORT=3001
WEBHOOK_SECRET=
CLOUDFLARE_TUNNEL_DOMAIN=sendflow.pixelnrock.com
